<p>
    <%= link_to "New contact", new_contact_path, class: "btn btn-default" %>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Details</th>
        </tr>
    </thead>
    <% @contacts.each do |contact| %>
        <tr class="contact-list-text">
            <td>
                <%= contact.last_name %>, <%= contact.first_name %>
            </td>
            <td>
                <%= contact.email %>
            </td>
            <td>
                <%= contact.phone_number %>
            </td>
            <td>
               <%= link_to "Show details", contact_path(contact) %>
            </td>
        </tr>
    <% end %>
</table>
