<div class="media" id="contact-card">
    <div class="media-left" id="contact-gravatar">
        <div id="gravatar">
            <%= gravatar_for @contact %>
        </div>
    </div>
    <div class="media-body">
        <p>
            <strong>Name:</strong>
            <%= @contact.last_name %>, <%= @contact.first_name %>
        </p>
        <p>
            <strong>Email:</strong>
            <%= @contact.email %>
        </p>
        <p>
            <strong>Phone Number:</strong>
            <%= @contact.phone_number %>
        </p>
        <p>
            <%= link_to "Edit", edit_contact_path(@contact) %>
            <%= link_to "Delete", @contact, method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
    </div>
</div>
