<div class="media">
    <div class="media-left">
        <div id="gravatar">
            <%= gravatar_for @contact %>
        </div>
    </div>
    <div class="media-body">
        <p>
            <%= @contact.last_name %>, <%= @contact.first_name %>
        </p>
        <p>
            <%= @contact.email %>
        </p>
        <p>
            <%= @contact.phone_number %>
        </p>
        <p>
            <%= link_to "Edit", edit_contact_path(@contact) %>
            <%= link_to "Delete", @contact, method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
    </div>
</div>
